.animated-card {
  animation: pulse 1.5s infinite; /* Adjust the animation duration as needed */
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 10px 0 rgba(0, 123, 255, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.loading-content {
  text-align: center;
}

.loading-icon {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #007bff; /* Loading spinner color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Adjust the animation duration as needed */
  margin: 10px auto;
}

.loading-text {
  background-color: rgba(0, 123, 255, 0.1); /* Placeholder color */
  height: 15px;
  width: 80%;
  margin: 10px auto;
}
